#!/bin/sh
#
# $OpenBSD: tt_rss_update.rc,v 1.5 2013/04/14 20:28:09 rpe Exp $

daemon="${INSTDIR}/update.php --daemon"
daemon_user="www"

. /etc/rc.d/rc.subr

pexp="${MODPHP_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_bg=YES
rc_reload=NO

rc_post() {
	rm -f ${INSTDIR}/lock/update_daemon.lock
}

rc_cmd $1
