#!/bin/sh
#
# $OpenBSD: adsuck.rc,v 1.2 2011/09/20 15:20:03 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/adsuck"
daemon_flags="-c /var/adsuck -f /files/resolv.conf -r /files/regex /files/hosts.small"

. /etc/rc.d/rc.subr

rc_reload() {
	pkill -HUP -f "^${pexp}" && pkill -USR1 -f "^${pexp}"
}

rc_cmd $1
