#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/adsuck"
daemon_flags="-c /var/adsuck -f /files/resolv.conf -r /files/regex /files/hosts.small"

. /etc/rc.d/rc.subr

rc_reload() {
	pkill -HUP -T "${daemon_rtable}" -xf "${pexp}" && \
		pkill -USR1 -T "${daemon_rtable}" -xf "${pexp}"
}

rc_post() {
	pkill -T "${daemon_rtable}" -xf "adsuck: \[resolv monitor\]"
}

rc_cmd $1
