#!/bin/ksh
#
# $OpenBSD: consul.rc,v 1.5 2021/11/06 10:38:41 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/consul agent"
daemon_flags="-config-dir ${SYSCONFDIR}/consul.d"
daemon_user="_consul"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_stop_signal=INT

rc_cmd $1
