Index: configs/nanopc-t4-rk3399_defconfig
--- configs/nanopc-t4-rk3399_defconfig.orig
+++ configs/nanopc-t4-rk3399_defconfig
@@ -42,7 +42,7 @@ CONFIG_REGULATOR_PWM=y
 CONFIG_REGULATOR_RK8XX=y
 CONFIG_PWM_ROCKCHIP=y
 CONFIG_DM_RESET=y
-CONFIG_BAUDRATE=1500000
+CONFIG_BAUDRATE=115200
 CONFIG_DEBUG_UART_SHIFT=2
 CONFIG_SYSRESET=y
 CONFIG_USB=y
