#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/haproxy"
daemon_flags="-f ${HAPROXYCONF}/haproxy.cfg"

. /etc/rc.d/rc.subr

# rc_reload() appends '-sf ...'
pexp="${daemon}${daemon_flags:+ ${daemon_flags}}.*"

rc_reload() {
	${daemon} ${daemon_flags} -sf $(cat /var/run/haproxy.pid)
}

rc_cmd $1
