#!/bin/ksh
#
# $OpenBSD: incrond.rc,v 1.2 2018/01/11 19:27:10 rpe Exp $

daemon="${TRUEPREFIX}/sbin/incrond"

. /etc/rc.d/rc.subr

rc_stop=NO

# sending SIGTERM is not enough, incrond is stuck on poll()
# waiting for an event - and only exits after it
#rc_stop() {
#	${daemon} -k
#}

rc_cmd $1
