#!/bin/sh
#
# $OpenBSD: messagebus.rc,v 1.2 2017/04/22 13:43:21 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/dbus-daemon --system"

. /etc/rc.d/rc.subr

rc_pre() {
	rm -f /var/run/dbus/pid
	install -d -o _dbus -g _dbus /var/run/dbus
}

rc_cmd $1
