#!/bin/ksh
#
# $OpenBSD: heartbeat.rc,v 1.5 2020/04/04 02:56:10 pvk Exp $

daemon="${PREFIX}/bin/heartbeat"
daemon_flags="-path.config ${SYSCONFDIR}/heartbeat \
	-path.data ${LOCALSTATEDIR}/db/heartbeat \
	-path.logs ${LOCALSTATEDIR}/log/heartbeat"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
