#!/bin/sh
#
# $OpenBSD: courier_pop3_ssl.rc,v 1.2 2015/07/15 21:14:06 ajacoutot Exp $

daemon="${TRUEPREFIX}/libexec/pop3d-ssl.rc"

. /etc/rc.d/rc.subr

pexp="${LOCALBASE}/sbin/courierlogger .* -start -name=pop3d-ssl .*"

rc_start() {
	${rcexec} "${daemon} start"
}

rc_stop() {
	${daemon} stop
}

rc_cmd $1
