#!/bin/sh
#
# $OpenBSD: courier_imap.rc,v 1.4 2011/03/17 16:49:27 ajacoutot Exp $

daemon="${TRUEPREFIX}/libexec/imapd.rc"

. /etc/rc.d/rc.subr

pexp=".*courierlogger.*imapd.pid"

rc_start() {
	${daemon} start
}

rc_stop() {
	${daemon} stop
}

rc_cmd $1
