#!/bin/sh
#
# $OpenBSD: courier_pop3.rc,v 1.2 2010/12/24 10:40:05 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/libexec/pop3d.rc"

rc_conf

pexp=".*courierlogger.*pop3d.pid"

rc_start() {
	${daemon} start 2>/dev/null
}

rc_stop() {
	${daemon} stop 2>/dev/null
}

rc_cmd $1
