#!/bin/ksh
#
# $OpenBSD: courier_imap.rc,v 1.7 2018/01/11 19:27:03 rpe Exp $

daemon="${TRUEPREFIX}/libexec/imapd.rc"

. /etc/rc.d/rc.subr

pexp="${LOCALBASE}/sbin/courierlogger .* -start -name=imapd .*"

rc_start() {
	${rcexec} "${daemon} start"
}

rc_stop() {
	${daemon} stop
}

rc_cmd $1
