#! /bin/sh 

# OpenBSD HylaFAX startup example
#
# Make sure that you have configured HylaFAX before running faxq!:
#   server: /usr/local/sbin/faxsetup 
#   modems: /usr/local/sbin/faxaddmodem 
#   incoming calls: /etc/ttys 

if [ -x /usr/local/sbin/faxq ]; then 
	/usr/local/sbin/faxq && echo -n ' hylafax' 
fi
