#!/bin/sh
#
# $OpenBSD: squid.rc,v 1.3 2010/12/24 10:40:06 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/squid"

rc_conf

rc_stop() {
	${daemon} -k shutdown
}

rc_reload() {
	${daemon} -k reconfigure
}

rc_cmd $1
