#!/bin/ksh
#
# $OpenBSD: varnishd.rc,v 1.4 2018/01/11 19:27:12 rpe Exp $

daemon="${PREFIX}/sbin/varnishd"
daemon_flags="-j unix,user=_varnish,ccgroup=_varnish -f ${SYSCONFDIR}/varnish/default.vcl"

. /etc/rc.d/rc.subr

pexp="varnishd: Varnish-Mgr $(hostname)"
rc_reload=NO

rc_cmd $1
