# $OpenBSD: tomcat.rc,v 1.3 2006/08/03 19:38:51 kurt Exp $
#
# Define JAVA_HOME for _tomcat here
# Start tomcat with following command:
# $ sudo -u _tomcat %%PREFIX%%/%%DISTNAME%%/bin/startup.sh
#

# javaPathHelper will pickup JAVA_HOME from the env. if
# it is not set in the env it will default the jdk that
# satisfied the RUN_DEPEND.
JAVA_HOME=$(javaPathHelper -h jakarta-tomcat)

# override other environment options:
#CATALINA_HOME=%%PREFIX%%/%%DISTNAME%%
#CATALINA_BASE=%%CATALINA_BASE%%
#CATALINA_TMPDIR=$CATALINA_BASE/temp
#JAVA_OPTS="-server -Djava.net.preferIPv4Stack=true"
#JPDA_TRANSPORT=
#JPDA_ADDRESS=
#JSSE_HOME=
