#!/bin/sh
#
# $OpenBSD: lldpd.rc,v 1.2 2013/07/15 21:35:46 sthen Exp $

daemon="${TRUEPREFIX}/sbin/lldpd"
rc_reload=NO

. /etc/rc.d/rc.subr

pexp="lldpd: monitor"

rc_pre() {
	install -d -o _lldpd /var/run/lldpd
}

rc_cmd $1
