#!/bin/sh
#
# $OpenBSD: kibana.rc,v 1.4 2017/05/27 19:57:08 ajacoutot Exp $

daemon="${TRUEPREFIX}/kibana/bin/kibana"
daemon_user="_kibana"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/bin/node ${TRUEPREFIX}/kibana/bin/../src/cli${daemon_flags:+ ${daemon_flags}}"
rc_bg=YES
rc_reload=NO

rc_cmd $1
