#!/bin/ksh
#
# $OpenBSD: kibana.rc,v 1.7 2019/10/24 13:28:58 pvk Exp $

daemon="${TRUEPREFIX}/kibana/bin/kibana"
daemon_user="_kibana"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/bin/node ${TRUEPREFIX}/kibana/bin/../src/cli${daemon_flags:+ ${daemon_flags}}"
rc_bg=YES
rc_reload=NO

rc_cmd $1
