#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/kopano-spamd"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_bg=YES

rc_pre() {
	install -d -o _kopano -g _spamdaemon ${LOCALSTATEDIR}/db/kopano/spamd \
		${LOCALSTATEDIR}/db/kopano/spamd/ham ${LOCALSTATEDIR}/db/kopano/spamd/spam
}

rc_cmd $1
