#!/bin/ksh
#
# $OpenBSD: kopano_search.rc,v 1.5 2019/08/03 10:24:09 robert Exp $

daemon="${TRUEPREFIX}/sbin/kopano-search"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_bg=YES

rc_pre() {
	install -d -o _kopano -g _kopano /var/run/kopano
}

rc_stop() {
	pkill -9 -T "${daemon_rtable}" -xf "${pexp}"
}

rc_cmd $1
