#!/bin/ksh
#
# $OpenBSD: kopano_server.rc,v 1.3 2019/08/03 10:24:09 robert Exp $

daemon="${TRUEPREFIX}/sbin/kopano-server"

. /etc/rc.d/rc.subr

rc_bg=YES

rc_pre() {
	install -d -o _kopano -g _kopano /var/run/kopano
}

rc_cmd $1
