#!/bin/ksh
#
# $OpenBSD: distccd.rc,v 1.3 2018/04/26 16:25:15 jasper Exp $

daemon="${PREFIX}/bin/distccd"
daemon_user="_distcc"
daemon_flags="--daemon --allow 127.0.0.1"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1
