#!/bin/ksh
#
# $OpenBSD: distccd.rc,v 1.4 2020/06/12 14:19:11 sthen Exp $

daemon="${PREFIX}/bin/distccd --daemon"
daemon_user="_distcc"
daemon_flags="--allow 127.0.0.1"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1
