#!/bin/sh
#
# $OpenBSD: collectd.rc,v 1.3 2017/07/08 17:37:36 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/collectd"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
	chgrp _collectd /etc/collectd.conf
	chmod g+r /etc/collectd.conf
}

rc_cmd $1
