#!/bin/ksh
#
# $OpenBSD: php70_fpm.rc,v 1.2 2018/01/11 19:27:02 rpe Exp $

daemon="${TRUEPREFIX}/sbin/php-fpm-${PV}"

. /etc/rc.d/rc.subr

pexp="php-fpm-${PV}: master process .*"
rc_reload=NO

rc_cmd $1
