#!/bin/ksh
#
# $OpenBSD: sqlgrey.rc,v 1.2 2018/01/11 19:27:04 rpe Exp $

daemon="${TRUEPREFIX}/sbin/sqlgrey -d"

. /etc/rc.d/rc.subr

pexp="/usr/bin/perl -w ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_reload=NO

rc_cmd $1
