#!/bin/sh
#
# $OpenBSD: aiccu.rc,v 1.2 2016/01/17 01:54:50 naddy Exp $

daemon="${TRUEPREFIX}/sbin/aiccu"
daemon_flags="start"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_stop() {
	${daemon} stop
}

rc_cmd $1
