#!/bin/sh
#
# $OpenBSD: slim.rc,v 1.6 2015/12/19 14:13:45 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/slim -d"

. /etc/rc.d/rc.subr

rc_reload=NO

# on boot: wait for ttys to be initialized and make sure we don't hang in
# "_rc_wait start" by hacking pexp
if [ -n "${INRC}" ]; then
	pexp="/sbin/init"
rc_start() {
	( local i=0
	while ! pgrep -qf "^/usr/libexec/getty "; do
		sleep 1
		[ $((i++)) -ge 10 ] && return 1
	done
	${rcexec} "${daemon} ${daemon_flags}" ) &
}
fi

rc_cmd $1
