#!/bin/ksh

daemon="${TRUEPREFIX}/bin/supervisord"
daemon_flags="-c ${SYSCONFDIR}/supervisord.conf"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=YES

rc_pre() {
	install -d /var/run/supervisor
}

rc_cmd $1
