#!/bin/ksh
#
# $OpenBSD: supervisord.rc,v 1.2 2018/01/11 19:27:10 rpe Exp $

daemon="${TRUEPREFIX}/bin/supervisord"
daemon_flags="-c ${SYSCONFDIR}/supervisord.conf --pidfile /var/run/supervisor/supervisord.pid"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=YES

rc_pre() {
	install -d /var/run/supervisor
}

rc_cmd $1
