#!/bin/sh
#
# $OpenBSD: puppetboard.rc,v 1.4 2015/07/15 22:24:51 ajacoutot Exp $

daemon="puppetboard_wsgi"
daemon_flags="--workers 4"
daemon_user="_puppetboard"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} .*${daemon}:application .*"

rc_start() {
	${rcexec} "cd ${INSTDIR} && \
		${LOCALBASE}/bin/gunicorn --daemon ${daemon_flags} ${daemon}:application"
}

rc_cmd $1
