#!/bin/sh
#
# $OpenBSD: puppetboard.rc,v 1.3 2014/08/13 08:44:47 sebastia Exp $

daemon="puppetboard_wsgi"
daemon_flags="--workers 4"
daemon_user="_puppetboard"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN}.*${daemon}:application"

rc_start() {
	${rcexec} "cd ${INSTDIR} && \
		${LOCALBASE}/bin/gunicorn --daemon ${daemon_flags} ${daemon}:application"
}

rc_cmd $1
