#!/bin/sh
#
# $OpenBSD: puppetboard.rc,v 1.5 2015/08/01 06:13:25 ajacoutot Exp $

daemon="puppetboard_wsgi"
daemon_flags="--workers 4"
daemon_user="_puppetboard"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN}.*${daemon_flags:+ ${daemon_flags}} ${daemon}:application"

rc_start() {
	${rcexec} "cd ${INSTDIR} && \
		${LOCALBASE}/bin/gunicorn --daemon ${daemon_flags} ${daemon}:application"
}

rc_cmd $1
