#!/bin/sh
#
# $OpenBSD: sympa.rc,v 1.4 2011/03/20 09:19:25 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/sympa"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_start() {
	${rcexec} "${daemon} start"
}

rc_stop() {
	${daemon} stop
}

rc_check() {
	${daemon} status
}

rc_cmd $1
