#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/sympa"
daemon_flags="start"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
	rm -f /var/spool/lock/sympa
}

rc_stop() {
	${daemon} stop
}

rc_check() {
	${daemon} status
}

rc_cmd $1
