#!/bin/sh
#
# $OpenBSD: sympa.rc,v 1.2 2010/12/31 06:50:46 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/sympa"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_start() {
	${daemon} start >/dev/null
}

rc_stop() {
	${daemon} stop >/dev/null
}

rc_check() {
	${daemon} status >/dev/null
}

rc_cmd $1
