#!/bin/ksh

daemon="${LOCALBASE}/bin/spawn-fcgi"
daemon_flags="-u_sympa -g_sympa -p1026 ${TRUEPREFIX}/libexec/sympa/wwsympa.fcgi"

. /etc/rc.d/rc.subr

pexp="/usr/bin/perl ${TRUEPREFIX}/libexec/sympa/wwsympa.fcgi"
rc_reload=NO

rc_cmd $1
