#!/bin/ksh
#
# $OpenBSD: unit.rc,v 1.1 2021/11/19 10:01:02 sthen Exp $

daemon="${PREFIX}/sbin/unitd"

. /etc/rc.d/rc.subr

pexp="unitd: unit: main.*"

rc_pre() {
	install -d -o _unit -g _unit \
	    ${LOCALSTATEDIR}/run/unit/ ${LOCALSTATEDIR}/tmp/unit/
}

rc_cmd $1
