#!/bin/ksh
#
# $OpenBSD: fastnetmon.rc,v 1.3 2020/05/14 11:47:32 sthen Exp $

daemon="${TRUEPREFIX}/sbin/fastnetmon --daemonize"
daemon_user="_fastnetmon"

. /etc/rc.d/rc.subr

rc_pre() {
	install -d -m 750 -o ${daemon_user} /var/run/fastnetmon
}

rc_cmd $1
