#!/bin/sh
#
# $OpenBSD: consul_template.rc,v 1.2 2017/05/27 13:53:07 ajacoutot Exp $

daemon="${PREFIX}/bin/consul-template"
daemon_flags="-config ${SYSCONFDIR}/consul-template.d/default.conf"
daemon_user="_consul-template"

. /etc/rc.d/rc.subr

rc_stop() {
	pkill -INT -T "${daemon_rtable}" -xf "${pexp}"
}

rc_cmd $1
