#!/bin/sh
#
# $OpenBSD: aircontrol.rc,v 1.3 2011/03/17 16:49:27 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/catalina.sh"
daemon_flags="-Xmx768M -server"
daemon_user="_aircontrol"

. /etc/rc.d/rc.subr

pexp="$(javaPathHelper -h aircontrol).*-Dcatalina.base=/var/aircontrol"

rc_reload=NO

rc_start() {
        ${rcexec} \
	    "CATALINA_OPTS=\"${daemon_flags}\" \
	    JAVA_HOME=\"$(javaPathHelper -h aircontrol)\" ${daemon} start"
}

rc_stop() {
        ${rcexec} \
	    "CATALINA_OPTS=\"${daemon_flags}\" \
	    JAVA_HOME=\"$(javaPathHelper -h aircontrol)\" \
	    ${daemon} stop"
}

rc_cmd $1
