# $OpenBSD: crontab.sample,v 1.2 2005/05/04 17:08:24 sturm Exp $
#
# Here is a sample crontab file for the operator user
#
0 16 * * 1-5 /usr/local/bin/amcheck -m your_config
45 0 * * 2-6 /usr/local/bin/amdump your_config
