# $OpenBSD: crontab.sample,v 1.3 2005/05/31 09:09:30 db Exp $
#
# Here is a sample crontab file for the operator user
#
0 16 * * 1-5 @LOCALBASE@/bin/amcheck -m your_config
45 0 * * 2-6 @LOCALBASE@/bin/amdump your_config
