#!/bin/ksh

daemon="${TRUEPREFIX}/bin/i2prouter"
daemon_flags="start"
daemon_user="_i2p"

. /etc/rc.d/rc.subr

rc_check() {
	${rcexec} "${daemon} status"
}

rc_stop() {
	${rcexec} "${daemon} stop"
}

rc_cmd $1
