#!/bin/sh
#
# $OpenBSD: postgrey.rc,v 1.2 2011/12/17 22:01:13 sthen Exp $

daemon="${TRUEPREFIX}/libexec/postgrey -d"
daemon_flags="--inet=10023"

. /etc/rc.d/rc.subr

pexp="perl: ${daemon} ${daemon_flags}"

rc_cmd $1
