#!/bin/ksh
#
# $OpenBSD: postgrey.rc,v 1.6 2020/11/19 16:15:05 sthen Exp $

daemon="${TRUEPREFIX}/libexec/postgrey -d"
daemon_flags="--inet=10023"

. /etc/rc.d/rc.subr

pexp="perl: .*postgrey -d${daemon_flags:+ ${daemon_flags}}.*"

rc_cmd $1
