#!/bin/sh
#
# $OpenBSD: isc_dhcpd.rc,v 1.1 2014/10/12 20:10:16 sthen Exp $

daemon="${TRUEPREFIX}/sbin/dhcpd"
daemon_flags="-user _isc-dhcp -group _isc-dhcp"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1
