#!/bin/ksh
#
# $OpenBSD: isc_dhcpd.rc,v 1.3 2018/01/11 19:27:06 rpe Exp $

daemon="${TRUEPREFIX}/sbin/dhcpd"
daemon_flags="-user _isc-dhcp -group _isc-dhcp"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
	touch /var/db/dhcpd.leases
}

rc_cmd $1
