#!/bin/ksh

daemon="${TRUEPREFIX}/bin/jicofo"
daemon_logger="daemon.info"
daemon_user="_jicofo"

. /etc/rc.d/rc.subr

pexp="$(${LOCALBASE}/bin/javaPathHelper -c jicofo) .*-cp ${TRUEPREFIX}/share/java/classes/jicofo.jar.*${daemon_flags:+ ${daemon_flags}}"

rc_reload=NO
rc_bg=YES
rc_cmd $1
