#!/bin/ksh
#
# $OpenBSD: apache2.rc,v 1.5 2018/01/11 19:27:11 rpe Exp $

daemon="${TRUEPREFIX}/sbin/httpd2"

. /etc/rc.d/rc.subr

# mod_perl resets $0 to argv[0]
pexp=".*${daemon}.*"
rc_reload=NO

rc_start() {
	${TRUEPREFIX}/sbin/apachectl2 graceful ${daemon_flags}
}

rc_stop() {
	${TRUEPREFIX}/sbin/apachectl2 graceful-stop
}

rc_cmd $1
