#!/bin/sh
#
# $OpenBSD: apache2.rc,v 1.2 2014/09/17 10:11:08 sthen Exp $

daemon="${TRUEPREFIX}/sbin/httpd2"

. /etc/rc.d/rc.subr

rc_pre() {
	rm -f ${LOCALSTATEDIR}/apache2/logs/{ssl_mutex,httpd.lock,accept.lock}.*
}

rc_cmd $1
