# $OpenBSD: systrace.policy,v 1.3 2005/02/09 20:36:29 sturm Exp $
Policy: ${PORTSDIR}/distfiles/rarbsd.sfx, Emulation: bsdos
	bsdos-access: permit
	bsdos-break: permit
	bsdos-chmod: permit
	bsdos-close: permit
	bsdos-exit: permit
	bsdos-fstat: permit
	bsdos-fstat35: permit
	bsdos-ogetpagesize: permit
	bsdos-olseek: permit
	bsdos-open: permit
	bsdos-read: permit
	bsdos-sigaction: permit
	bsdos-utimes: permit
	bsdos-write: permit
