# $OpenBSD: systrace.policy,v 1.2 2005/02/09 20:36:30 sturm Exp $
Policy: ${WRKDIR}/fake-i386/usr/local/netscape/vreg, Emulation: linux
	linux-brk: permit
	linux-chdir: permit
	linux-chmod: permit
	linux-clone: permit
	linux-close: permit
	linux-fsread: permit
	linux-fstat64: permit
	linux-fswrite: filename match "${WRKDIR}" then permit
	linux-getegid: permit
	linux-geteuid: permit
	linux-getgid: permit
	linux-getuid: permit
	linux-getcwd: permit
	linux-ioctl: permit
	linux-lseek: permit
	linux-llseek: permit
	linux-lstat64: permit
	linux-mmap: permit
	linux-munmap: permit
	linux-read: permit
	linux-rt_sigaction: permit
	linux-stat64: permit
	linux-symlink: filename match "${WRKDIR}" then permit
	linux-uname: permit
	linux-utime: permit
	linux-write: permit
	linux-writev: permit
	linux-exit: permit
