#!/bin/ksh
#
# $OpenBSD: ajaxterm.rc,v 1.5 2018/01/11 19:27:11 rpe Exp $

daemon="${TRUEPREFIX}/bin/ajaxterm -d"
daemon_flags="-u _ajaxterm --command=/usr/bin/login"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_bg=YES
rc_reload=NO

rc_cmd $1
