#!/bin/sh
#
# $OpenBSD: ajaxterm.rc,v 1.3 2017/05/27 13:53:07 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/ajaxterm -d"
daemon_flags="-u _ajaxterm --command=/usr/bin/login"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_cmd $1
