#!/bin/sh
#
# $OpenBSD: godoc.rc,v 1.2 2015/03/21 19:44:36 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/godoc"
daemon_flags="-http=localhost:6060 -v=true"
daemon_user=www

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
