#!/bin/ksh
#
# $OpenBSD: waagent.rc,v 1.2 2018/01/11 19:27:11 rpe Exp $

daemon="${TRUEPREFIX}/sbin/waagent -start"

. /etc/rc.d/rc.subr

pexp=".*python.* ${TRUEPREFIX}/sbin/waagent -daemon"
rc_reload=NO

rc_cmd $1
