#!/bin/ksh
#
# $OpenBSD: mailscanner.rc,v 1.3 2018/01/11 19:27:03 rpe Exp $

daemon="${TRUEPREFIX}/bin/check_mailscanner"

. /etc/rc.d/rc.subr

pexp="perl: MailScanner: (master|killing|starting) .*"

rc_cmd $1
