#!/bin/ksh
#
# $OpenBSD: sslh_select.rc,v 1.5 2018/01/11 19:27:08 rpe Exp $

daemon="${TRUEPREFIX}/sbin/sslh-select"
daemon_flags="--user=_sslh --listen 0.0.0.0:443 --ssh 127.0.0.1:22 --ssl 127.0.0.1:443"

. /etc/rc.d/rc.subr

pexp="${daemon} .*"
rc_reload=NO

rc_cmd $1
