[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Firefox Web Browser ESR
Name[am]=
Name[ar]=
Name[az]=Firefox Veb Səyyahı ESR
Name[be]=
Name[bg]=Интернет браузър Firefox ESR
Name[bn]=
Name[bs]=Firefox web preglednik ESR
Name[ca]=Navegador web Firefox ESR
Name[cs]=Prohlížeč WWW Firefox ESR
Name[cy]=Y Porwr Gwe Firefox ESR
Name[da]=Firefox - internetsurfning ESR
Name[de]=Firefox Webbrowser ESR
Name[el]=Περιηγητής Διαδικτύου Firefox ESR
Name[en_CA]=Firefox Web Browser ESR
Name[en_GB]=Firefox Web Browser ESR
Name[es]=Navegador Web Firefox ESR
Name[et]=Firefox veebibrauser ESR
Name[eu]=Firefox web arakatzailea ESR
Name[fi]=Firefox, WWW-selain ESR
Name[fr]=Navigateur Web Firefox ESR
Name[ga]=Brabhsálaí Lín Firefox ESR
Name[gu]=એપીફની વૅબ બ્રાઉઝર ESR
Name[he]=דפדפן Firefox ESR
Name[hi]=
Name[hr]=Firefox Web preglednik ESR
Name[hu]=Firefox webböngésző ESR
Name[id]=Web Browser Firefox ESR
Name[it]=Browser web Firefox ESR
Name[ja]=Firefox ウェブ・ブラウザ ESR
Name[ko]=Firefox 웹 브라우저 ESR
Name[li]=Firefox Web Browser ESR
Name[lt]=Firefox web naršyklė ESR
Name[mk]=Firefox веб прелистувач ESR
Name[ml]=എപ്പിഫാനി വെബ്ബ് ബ്രൌസ‌ര് ESR
Name[mn]=Firefox веб хөтөч ESR
Name[ms]=Pelungsur Web Firefox ESR
Name[nb]=Firefox nettleser ESR
Name[nl]=Firefox Webbrowser ESR
Name[nn]=Firefox nettlesar ESR
Name[no]=Firefox nettleser ESR 
Name[pa]=ਏਪੀਫਾਨੀ ਵੈੱਬ ਬਰਾਊਜ਼ਰ ESR
Name[pl]=Przeglądarka WWW Firefox ESR
Name[pt]=Navegador Web Firefox ESR
Name[pt_BR]=Navegador Web Firefox ESR
Name[ro]=Navigatorul Firefox ESR 
Name[ru]=Веб-браузер Firefox ESR
Name[sk]=
Name[sl]=Spletni brskalnik Firefox ESR
Name[sq]=Firefox - Shfletuesi Web ESR
Name[sr]=
Name[sr@Latn]=Veb čitač Spoznaja ESR
Name[sv]=Webbläsaren Firefox ESR
Name[ta]=எபிபனி வலை உலாவி ESR
Name[tk]=Firefox Web Ahtarçisi ESR
Name[tr]=Firefox Web Tarayıcı ESR
Name[uk]=Переглядач web Firefox ESR
Name[vi]=Trình Duyệt Web Firefox ESR
Name[wa]=Betchteu waibe epiphany ESR
Name[zh_CN]=Firefox Web 浏览器 ESR
Name[zh_TW]=Firefox 網頁瀏覽器 ESR
GenericName=Web Browser
GenericName[ar]=متصفّح الانترنت
GenericName[az]=Veb Səyyahı
GenericName[be]=Вандроўнік па павуціньню
GenericName[bg]=Браузър
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[bs]=Web preglednik
GenericName[ca]=Navegador web
GenericName[cs]=Prohlížeč WWW
GenericName[cy]=Porwr Gwe
GenericName[da]=Internetsurfning
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής Ιστοσελίδων
GenericName[en_CA]=Web Browser
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[et]=Veebilehitseja
GenericName[eu]=Web arakatzailea
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web Firefox
GenericName[ga]=Brabhsálaí Lín
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[id]=Browser Web
GenericName[it]=Browser web
GenericName[ja]=GNOME ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[li]=Wèb Browser
GenericName[lt]=Web naršyklė
GenericName[mk]=Веб прелистувач
GenericName[mn]=Веб хөтөч
GenericName[ms]=Pelungsur Web
GenericName[nb]=Nettleser
GenericName[nl]=Web-browser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pa]=ਵੈਬ ਬਰਾਊਜ਼
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator Internet
GenericName[ru]=Веб-браузер
GenericName[sk]=WWW prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sq]=Shfletuesi Web
GenericName[sr]=Веб читач
GenericName[sr@Latn]=Veb čitač
GenericName[sv]=Webbläsare
GenericName[ta]=வலை உலாவி
GenericName[th]=เว็บบราวเซอร์
GenericName[tk]=Web Ahtarçysy
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Переглядач web-сторінок
GenericName[vi]=Trình duyệt Web
GenericName[wa]=Betchteu waibe
GenericName[zh_CN]=Web 浏览器
GenericName[zh_TW]=網頁瀏覽器
Comment=Browse the web
Comment[ar]=تصفح الانترنت
Comment[az]=Vebi gəzin
Comment[be]=Вандраваць па павуціньню
Comment[bg]=Сърфиране в интернет
Comment[bn]=ওয়েব ব্রাউজ করুন
Comment[bs]=Pregledaj na internetu
Comment[ca]=Navegueu per la web
Comment[cs]=Prohlížet WWW
Comment[cy]=Pori'r we
Comment[da]=Surf på internettet
Comment[de]=Im Web surfen
Comment[el]=Περιήγηση στον παγκόσμιο ιστό
Comment[en_CA]=Browse the web
Comment[en_GB]=Browse the web
Comment[es]=Navegar por la web
Comment[et]=Sirvi veebi
Comment[eu]=Arakatu web-a
Comment[fi]=Selaa WWW:tä
Comment[fr]=Naviguer sur Internet
Comment[ga]=Brabhsáil an Líon
Comment[gu]=વેબમાં શોધો
Comment[he]=גלוש ברשת
Comment[hi]=वेब ब्राउज़ करें
Comment[hr]=Pregledaj Web
Comment[hu]=A világháló böngészése
Comment[id]=Jelajah web
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[li]=Blajere op internet
Comment[lt]=Naršyti internete
Comment[mk]=Прелистувајте на веб
Comment[ml]=വലക്കെട്ട് തിരയുക
Comment[mn]=Веб броузе хийх
Comment[ms]=Layari web
Comment[nb]=Surf på nettet
Comment[nl]=Websurfen
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pa]=ਵੈਬ ਬਰਾਊਜ਼
Comment[pl]=Przeglądanie stron WWW
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegar na web
Comment[ro]=Navigare Internet
Comment[ru]=Веб-браузер
Comment[sk]=Prehliadať internet
Comment[sl]=Brskaj po spletu
Comment[sq]=Eksploro web-in
Comment[sr]=Прегледај веб
Comment[sr@Latn]=Pregledaj veb
Comment[sv]=Surfa på nätet
Comment[ta]=வலையில் உலாவு
Comment[th]=ใช้งานเว็บบราวเซอร์ Firefox
Comment[tk]=Webi Ahtar
Comment[tr]=Web'e Gözat
Comment[uk]=Програма перегляду web-сторінок
Comment[vi]=Duyệt web
Comment[wa]=Naivyî avå les waibes
Comment[zh_CN]=浏览 Web
Comment[zh_TW]=瀏覽網頁
Exec=firefox-esr %u
Icon=${TRUEPREFIX}/share/pixmaps/firefox-esr.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Network;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
