#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/cnupm"

. /etc/rc.d/rc.subr

cnupm_interface="${daemon_flags##*(* )-i*( )}"
cnupm_interface="${cnupm_interface%% *}"
[ -n "${cnupm_interface}" ] || cnupm_interface=".*"
pexp="cnupm: collecting traffic on ${cnupm_interface}"

rc_cmd $1
