$OpenBSD: patch-Tgif.tmpl,v 1.4 2011/05/28 09:30:38 benoit Exp $
--- Tgif.tmpl.orig	Mon May 23 11:12:30 2011
+++ Tgif.tmpl	Mon May 23 11:14:22 2011
@@ -44,7 +44,8 @@
                   -D_USE_PS_ADOBE_STRING=\"3.0/3.0\" -D_DONT_USE_MKTEMP \@@\
 		  -D_DONT_REENCODE=\"FFDingbests:ZapfDingbats\" \@@\
 		  -D_NO_NKF -D_NO_CHINPUT -D_NO_XCIN \@@\
-		  -D_NO_IDNLIB
+		  -D_NO_IDNLIB  -DUSE_XAPPLRESDIR \@@\
+		  -DXAPPLOADDIR_DEF=\"$(LIBDIR)/app-defaults\"
 MOREDEFINES	=
 
 XCOMM ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
