--- Tgif.tmpl.orig	Mon May  5 17:30:58 2003
+++ Tgif.tmpl	Mon May  5 17:31:51 2003
@@ -47,7 +47,9 @@ EXTDEFINES	= -DEPSF_FILE_EXT=\"eps\" -DP
                   -DNETLIST_FILE_EXT=\"net\" -DCOMP_FILE_EXT=\"cmp\"
 MISCDEFINES	= -D_BACKGROUND_DONT_FORK -D_USE_XDRAWPOINT_TO_PUT_A_POINT \@@\
                   -D_USE_PS_ADOBE_STRING=\"3.0/3.0\" -D_DONT_USE_MKTEMP \@@\
-		  -D_DONT_REENCODE=\"FFDingbests:ZapfDingbats\"
+		  -D_DONT_REENCODE=\"FFDingbests:ZapfDingbats\" \@@\
+		-DUSE_XAPPLRESDIR \@@\
+		-DXAPPLOADDIR_DEF=\"$(LIBDIR)/app-defaults\"
 MOREDEFINES	=
 
 XCOMM ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
