#!/bin/sh
#
# $OpenBSD: saned.rc,v 1.2 2010/10/29 12:54:43 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/libexec/saned"
daemon_flags="-a _saned"

rc_reload() {
	rc_err "$0: reload is not supported"
}

rc_cmd $1
