#!/bin/sh
#
# $OpenBSD: saned.rc,v 1.3 2010/11/30 08:14:05 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/libexec/saned"
daemon_flags="-a _saned"

rc_pre() {
	[ -e /dev/uscanner0 ] && chgrp _saned /dev/uscanner0
}

rc_reload() {
	rc_err "$0: reload is not supported"
}

rc_post() {
	[ -e /dev/uscanner0 ] && chgrp wheel /dev/uscanner0
}

rc_cmd $1
