#!/bin/sh
#
# $OpenBSD: saned.rc,v 1.4 2010/12/11 12:57:37 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/libexec/saned"
daemon_flags="-a _saned"
rc_reload=NO

rc_pre() {
	[ -e /dev/uscanner0 ] && chgrp _saned /dev/uscanner0
}

rc_post() {
	[ -e /dev/uscanner0 ] && chgrp wheel /dev/uscanner0
}

rc_cmd $1
