#!/bin/sh
#
# $OpenBSD: vnstatd.rc,v 1.3 2010/12/24 10:40:05 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/vnstatd"
daemon_flags="-d"
daemon_user="_vnstat"

rc_conf

rc_pre() {
	/usr/bin/install -d -o _vnstat /var/run/vnstat
}

rc_cmd $1
