#!/bin/sh
#
# $OpenBSD: vnstatd.rc,v 1.2 2010/12/13 16:14:38 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/vnstatd"
daemon_flags="-d"
daemon_user="_vnstat"

rc_pre() {
	/usr/bin/install -d -o _vnstat /var/run/vnstat
}

rc_cmd $1
