#!/bin/sh
#
# $OpenBSD: syncthing.rc,v 1.3 2017/05/27 13:53:06 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/syncthing"
daemon_flags="-no-browser"
daemon_user="_syncthing"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1
