#!/bin/sh
#
# $OpenBSD: q2ded.rc,v 1.4 2017/11/09 16:20:32 awolk Exp $

daemon="${TRUEPREFIX}/share/yquake2/q2ded"
daemon_user="_yquake2"

. /etc/rc.d/rc.subr

pexp="${daemon}.*"
rc_bg=YES
rc_reload=NO

rc_start() {
	${rcexec} "cd ${TRUEPREFIX}/share/yquake2; ${daemon} ${daemon_flags}"
}

rc_cmd $1
