#!/bin/ksh

daemon="${TRUEPREFIX}/elasticsearch/bin/elasticsearch"
daemon_flags="-d -p /var/run/elasticsearch/elasticsearch.pid"
daemon_user="_elasticsearch"

. /etc/rc.d/rc.subr

pexp="$(${LOCALBASE}/bin/javaPathHelper -c elasticsearch) .*org.elasticsearch.bootstrap.Elasticsearch.*"

rc_reload=NO

rc_pre() {
	install -d -o _elasticsearch /var/run/elasticsearch/
}

rc_cmd $1
