#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/uptimed"
daemon_flags="-p /var/run/uptimed/uptimed.pid"
daemon_user="_uptimed"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
	install -d -o _uptimed /var/run/uptimed
}

rc_cmd $1
