#!/bin/ksh
#
# $OpenBSD: minio.rc,v 1.2 2018/01/11 19:27:06 rpe Exp $

daemon="${TRUEPREFIX}/bin/minio server"
daemon_flags="${VARBASE}/minio/export"
daemon_user="_minio"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
