#!/bin/ksh
#
# $OpenBSD: cvsyncd.rc,v 1.2 2018/01/11 19:27:04 rpe Exp $

daemon="${TRUEPREFIX}/bin/cvsyncd"
daemon_user="_cvsyncd"

. /etc/rc.d/rc.subr

rc_pre() {
	install -o _cvsyncd -d /var/run/cvsyncd
}

rc_cmd $1
