#!/bin/sh
#
# $OpenBSD: postfwd2.rc,v 1.2 2013/07/17 07:36:06 giovanni Exp $

daemon="${TRUEPREFIX}/sbin/postfwd2"
daemon_flags="-u _postfwd -g _postfwd --pidfile=/var/run/postfwd2.pid -f /etc/postfix/postfwd2.cf"

. /etc/rc.d/rc.subr

pexp="perl: ${daemon}"

rc_stop() {
	${daemon} --pidfile=/var/run/postfwd2.pid --stop
}

rc_reload() {
	${daemon} --pidfile=/var/run/postfwd2.pid --hup
}

rc_cmd $1
