#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/postfwd3"
daemon_flags="-u _postfwd -g _postfwd -f ${SYSCONFDIR}/postfix/postfwd3.cf"

. /etc/rc.d/rc.subr

pexp="perl: ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_stop() {
	${daemon} --stop
}

rc_reload() {
	${daemon} --hup
}

rc_cmd $1
