#!/bin/sh
#
# $OpenBSD: spamassassin.rc,v 1.2 2010/12/24 10:40:06 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/bin/spamd"
daemon_flags="-d -u _spamdaemon -P"

rc_conf

pexp="perl: ${daemon} ${daemon_flags}"

rc_cmd $1
