#!/bin/sh
#
# $OpenBSD: spamassassin.rc,v 1.4 2011/03/20 06:46:50 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/spamd"
daemon_flags="-d -u _spamdaemon -P"

. /etc/rc.d/rc.subr

pexp="perl: ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_cmd $1
