#!/bin/sh
#
# $OpenBSD: munin_node.rc,v 1.2 2010/10/29 12:54:43 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/munin-node"
pexp="perl: ${daemon}"

rc_pre() {
        install -d -o _munin /var/run/munin
}

rc_cmd $1
