#!/bin/sh
#
# $OpenBSD: munin_node.rc,v 1.5 2012/10/12 09:46:46 kirby Exp $

daemon="${TRUEPREFIX}/sbin/munin-node"

. /etc/rc.d/rc.subr

pexp="perl: munin-node"

rc_pre() {
        install -d -o _munin /var/run/munin
}

rc_cmd $1
