#!/bin/sh
#
# $OpenBSD: packetbeat.rc,v 1.2 2017/04/27 09:14:59 jasper Exp $

daemon="${PREFIX}/bin/packetbeat"
daemon_flags="-path.config ${SYSCONFDIR}/packetbeat/"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
