#!/bin/sh
#
# $OpenBSD: salt_syndic.rc,v 1.1 2014/05/27 14:12:43 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/salt-syndic -d"
daemon_flags="-u _salt-master"

. /etc/rc.d/rc.subr

rc_pre() {
	install -o _salt-master -d /var/run/salt/
}

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_cmd $1
