#!/bin/ksh
#
# $OpenBSD: salt_master.rc,v 1.5 2018/01/11 19:27:10 rpe Exp $

daemon="${TRUEPREFIX}/bin/salt-master -d"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_cmd $1
