prosody_user = "_prosody"
prosody_group = "_prosody"

pidfile = "/var/prosody/prosody.pid"

modules_enabled = {
                "disco"; -- Service discovery
                "roster"; -- Allow users to have a roster. Recommended ;)
                "saslauth"; -- Authentication for clients and servers. Recommended if you want to log in.
                "tls"; -- Add support for secure TLS on c2s/s2s connections
                "blocklist"; -- Allow users to block communications with other users
                "carbons"; -- Keep multiple online clients in sync
                "smacks"; -- Stream management and resumption (XEP-0198)
                "ping"; -- Replies to XMPP pings with pongs
                "register"; -- Allow users to register on this server using a client and change passwords
                "time"; -- Let others know the time here on this server
                "uptime"; -- Report how long server has been running
                "version"; -- Replies to server version requests
                "admin_adhoc"; -- Allows administration via an XMPP client that supports ad-hoc commands
                "admin_shell"; -- Allow secure administration via prosodyctl shell
}
http_ports = { 5280 }
http_interfaces = { "*", "::" }

-- per Vhost: authentication = "internal_hashed"

log = {
        info = "/var/prosody/prosody.log"; -- Change 'info' to 'debug' for verbose logging
        error = "/var/prosody/prosody.err";
}

-- ### MAIN

VirtualHost "jitsi.example.com"
    authentication = "anonymous";
    modules_enabled = {
        "bosh";
        "pubsub";
    }
    c2s_require_encryption = false

VirtualHost "auth.jitsi.example.com"
    ssl = {
         key = "/var/prosody/auth.jitsi.example.com.key";
         certificate = "/var/prosody/auth.jitsi.example.com.crt";
    }
    authentication = "internal_hashed"

Component "conference.jitsi.example.com" "muc"
Component "jvb.jitsi.example.com"
    component_secret = "${JVB_COMP_PASS}"
Component "focus.jitsi.example.com" "client_proxy"
    target_address = "focus@auth.jitsi.example.com"
    -- component_secret = "${FOCUS_COMP_PASS}"
Component "internal.auth.jitsi.example.com" "muc"
    storage = "memory"
    modules_enabled = {
      "ping";
    }
    admins = { "focus@auth.jitsi.example.com", "jvb@auth.jitsi.example.com" }
    muc_room_locking = false
    muc_room_default_public_jids = true
    muc_room_cache_size = 1000
