#!/bin/sh
#
# $OpenBSD: vault.rc,v 1.2 2017/05/27 13:53:07 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/vault server"
daemon_flags="-config=${SYSCONFDIR}/vault.hcl"
daemon_user="_vault"

. /etc/rc.d/rc.subr

rc_cmd $1
