#!/bin/sh
#
# $OpenBSD: postfix.rc,v 1.3 2015/07/15 15:57:19 sthen Exp $

daemon="${TRUEPREFIX}/libexec/postfix/master.*"

. /etc/rc.d/rc.subr

pexp="${daemon}"

rc_start() {
	${TRUEPREFIX}/sbin/postfix ${daemon_flags} start
}

rc_stop() {
	${TRUEPREFIX}/sbin/postfix stop
}

rc_cmd $1
