#!/bin/ksh

daemon="${TRUEPREFIX}/bin/riemann"
daemon_user="_riemann"

. /etc/rc.d/rc.subr

java="$(${LOCALBASE}/bin/javaPathHelper -c riemann)"

pexp="${java}.*riemann.*"
rc_bg=YES

rc_start() {
	rc_exec "JAVA_CMD=\"${java}\" ${daemon}"
}

rc_cmd $1
