#!/bin/sh
#
# $OpenBSD: gdnsd.rc,v 1.3 2016/02/06 07:45:08 ajacoutot Exp $

daemon="${PREFIX}/sbin/gdnsd"
daemon_flags="start"

. /etc/rc.d/rc.subr

rc_reload() {
	${daemon} reload
}

rc_restart() {
	${daemon} restart
}

rc_stop() {
	${daemon} stop
}

rc_cmd $1
