--- Local.config.orig	Sat Sep  2 18:02:09 2000
+++ Local.config	Sat Jul 20 00:47:01 2002
@@ -148,3 +148,14 @@ JPEG_INCLUDE = -I/usr/local/include
 JPEG_LIB     = -L/usr/local/lib -ljpeg
 XPM_INCLUDE = -I/usr/X11R6/include/X11
 #endif
+
+#if defined(OpenBSDArchitecture)
+ARCH_DEFINES = -DHAVE_PARAM_H
+TIFF_INCLUDE = -I${LOCALBASE}/include
+TIFF_LIB     = -L${LOCALBASE}/lib -ltiff
+JPEG_INCLUDE = -I${LOCALBASE}/include
+JPEG_LIB     = -L${LOCALBASE}/lib -ljpeg
+PNG_INCLUDE  = -I${LOCALBASE}/include/libpng
+PNG_LIB      = -L${LOCALBASE}/lib -lpng -lz
+XPM_INCLUDE = -I${X11BASE}/include/X11
+#endif   
