--- Local.config.orig	Sat Sep  2 16:02:09 2000
+++ Local.config	Fri Jul 19 17:51:16 2002
@@ -84,7 +84,7 @@ XCOMM    includes are correct.
 
 #ifdef HavePNG
 PNG_LIB     = -L/usr/lib -lpng -lz
-PNG_INCLUDE = -I/usr/include/png
+PNG_INCLUDE = /usr/include/png
 #endif
 
 XCOMM  If you are running SunOS and get an error with the following undefined
@@ -148,3 +148,14 @@ JPEG_INCLUDE = -I/usr/local/include
 JPEG_LIB     = -L/usr/local/lib -ljpeg
 XPM_INCLUDE = -I/usr/X11R6/include/X11
 #endif
+
+#if defined(OpenBSDArchitecture)
+ARCH_DEFINES = -DHAVE_PARAM_H
+TIFF_INCLUDE = -I${LOCALBASE}/include
+TIFF_LIB     = -L${LOCALBASE}/lib -ltiff
+JPEG_INCLUDE = -I${LOCALBASE}/include
+JPEG_LIB     = -L${LOCALBASE}/lib -ljpeg
+PNG_INCLUDE  = -I${LOCALBASE}/include/libpng
+PNG_LIB      = -L${LOCALBASE}/lib -lpng -lz
+XPM_INCLUDE = -I${X11BASE}/include/X11
+#endif   
