#!/bin/ksh
#
# $OpenBSD: rmilter.rc,v 1.2 2018/01/11 19:27:04 rpe Exp $

daemon="${TRUEPREFIX}/sbin/rmilter"
daemon_flags="-c ${SYSCONFDIR}/rmilter/rmilter.conf"
daemon_user="_rmilter"

. /etc/rc.d/rc.subr

rc_pre() {
	/usr/bin/install -d -o ${daemon_user} /var/run/rmilter
}

rc_reload() {
        pkill -USR1 -T "${daemon_rtable}" -xf "${pexp}"
}

rc_cmd $1
