#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/rmilter"
daemon_flags="-c ${SYSCONFDIR}/rmilter/rmilter.conf"
daemon_user="_rmilter"

. /etc/rc.d/rc.subr

rc_reload_signal=USR1

rc_pre() {
	/usr/bin/install -d -o ${daemon_user} /var/run/rmilter
}

rc_cmd $1
