#!/bin/ksh
#
# $OpenBSD: zeya.rc,v 1.4 2018/01/11 19:27:01 rpe Exp $

daemon="${TRUEPREFIX}/sbin/zeya"
daemon_flags="--path=/var/tmp"
daemon_user="_zeya"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_bg=YES
rc_reload=NO

rc_cmd $1
