#!/bin/sh
#
# $OpenBSD: icinga2.rc,v 1.2 2014/11/22 00:13:03 sthen Exp $

daemon="${TRUEPREFIX}/sbin/icinga2 daemon -d"
daemon_flags=""
daemon_user="_icinga"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/sbin/icinga2.*daemon -d${daemon_flags:+ ${daemon_flags}}"

rc_pre() {
	install -d -o ${daemon_user} /var/run/icinga2
}

rc_cmd $1
