#!/bin/sh
#
# $OpenBSD: icinga2.rc,v 1.8 2015/11/16 12:19:12 sthen Exp $

daemon="${TRUEPREFIX}/sbin/icinga2 daemon -d"
daemon_user="_icinga"

. /etc/rc.d/rc.subr

pexp="${daemon}${daemon_flags:+ ${daemon_flags}}.*"

rc_pre() {
	install -d -o ${daemon_user} /var/www/var/run/icinga2{,/cmd}
	ln -s /var/www/var/run/icinga2 /var/run/icinga2
}

rc_cmd $1
