#!/bin/sh
#
# $OpenBSD: sogod.rc,v 1.1.1.1 2010/11/24 18:16:03 sebastia Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/sogod"
daemon_user="_sogo"

rc_start() {
	su -l ${daemon_user} -c "${daemon}"
}

rc_cmd $1
