#!/bin/sh
#
# $OpenBSD: ladvd.rc,v 1.3 2017/06/30 08:12:58 jca Exp $

daemon="${TRUEPREFIX}/sbin/ladvd"
daemon_flags="-a -z"

. /etc/rc.d/rc.subr

pexp="ladvd: parent \[priv\].*"
rc_reload=NO

rc_cmd $1
