#!/bin/sh
#
# $OpenBSD: ladvd.rc,v 1.2 2015/07/15 17:45:12 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/ladvd"
daemon_flags="-a -z"

. /etc/rc.d/rc.subr

pexp="ladvd: master \[priv\]"
rc_reload=NO

rc_cmd $1
