#!/bin/ksh

daemon="${TRUEPREFIX}/libexec/postfix/master"

. /etc/rc.d/rc.subr

pexp="${daemon}.*"

rc_start() {
	${TRUEPREFIX}/sbin/postfix ${daemon_flags} start
}

rc_stop() {
	${TRUEPREFIX}/sbin/postfix stop
}

rc_cmd $1
