#!/bin/sh
#
# $OpenBSD: nginx.rc,v 1.5 2010/12/27 14:50:24 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/nginx"

. /etc/rc.d/rc.subr

pexp="nginx:.*master.*process"

rc_reload() {
	${daemon} -s reload >/dev/null
}

rc_stop() {
	${daemon} -s stop >/dev/null
	[ $? -gt 0 ] && pkill -f "^${pexp}"
}

rc_cmd $1
