#!/bin/sh
#
# $OpenBSD: nginx.rc,v 1.4 2010/12/24 10:40:06 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/nginx"

rc_conf

pexp="nginx:.*master.*process"

rc_reload() {
	${daemon} -s reload >/dev/null
}

rc_stop() {
	${daemon} -s stop >/dev/null
	[ $? -gt 0 ] && pkill -f "^${pexp}"
}

rc_cmd $1
