#!/bin/ksh
#
# $OpenBSD: nginx.rc,v 1.17 2021/11/06 10:38:41 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/nginx"

. /etc/rc.d/rc.subr

pexp="nginx: master process ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_stop_signal=QUIT

rc_reload() {
	${daemon} ${daemon_flags} -t &&
		pkill -HUP -T "${daemon_rtable}" -xf "${pexp}"
}

rc_cmd $1
