#!/bin/ksh

daemon="${TRUEPREFIX}/bin/jvb"
daemon_logger="daemon.info"
daemon_user="_jvb"

. /etc/rc.d/rc.subr

pexp="$(${LOCALBASE}/bin/javaPathHelper -c jitsi-videobridge) .*-cp ${TRUEPREFIX}/share/java/classes/jitsi-videobridge.jar.*${daemon_flags:+ ${daemon_flags}}"

rc_reload=NO
rc_bg=YES
rc_cmd $1
