#!/bin/ksh
#
# $OpenBSD: litecoind.rc,v 1.3 2019/07/07 16:25:27 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/litecoind"
daemon_flags="-daemon -conf=${SYSCONFDIR}/litecoin.conf -datadir=${VARBASE}/litecoin"
daemon_timeout="300"
daemon_user="_litecoind"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1
