#!/bin/sh
#
# $OpenBSD: amavis_mc.rc,v 1.2 2015/07/15 19:26:44 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/amavis-mc"

. /etc/rc.d/rc.subr

rc_reload=NO

pexp="/usr/bin/perl -T ${daemon}${daemon_flags:+ ${daemon_flags}}"

rc_cmd $1
