#!/bin/sh
#
# $OpenBSD: amavisd.rc,v 1.5 2011/03/17 16:49:27 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/amavisd"

. /etc/rc.d/rc.subr

pexp="perl: amavisd"

rc_stop() {
	${daemon} stop
}

rc_reload() {
	${daemon} reload
}

rc_cmd $1
