#!/bin/sh
#
# $OpenBSD: amavisd.rc,v 1.1 2010/11/23 18:11:45 giovanni Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/amavisd"
pexp="perl: amavisd"

rc_stop() {
        ${daemon} stop 2>/dev/null
}

rc_reload() {
        ${daemon} reload 2>/dev/null
}

rc_cmd $1
