#!/bin/ksh

daemon="${TRUEPREFIX}/bin/unbound_exporter"
daemon_flags='-unbound.ca "" -unbound.cert "" -unbound.host "unix:///var/run/unbound.sock"'
daemon_user="_unboundexporter"

. /etc/rc.d/rc.subr

pexp="${daemon}.*"
rc_bg=YES
rc_reload=NO

rc_cmd $1
