#!/bin/sh
#
# $OpenBSD: spectrum.rc,v 1.3 2011/03/20 11:20:16 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/spectrumctl"

. /etc/rc.d/rc.subr

rc_start() {
	${rcexec} "${daemon} start"
}
rc_stop() {
	${daemon} stop
}
rc_reload() {
	${daemon} reload
}

rc_cmd $1
