#!/bin/sh
#
# $OpenBSD: spectrum.rc,v 1.5 2015/07/15 17:49:24 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/spectrumctl"
daemon_flags="--config-dir=${SYSCONFDIR}/spectrum"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/sbin/spectrum .*\.cfg"

rc_start() {
	${rcexec} "${daemon} ${daemon_flags} start"
}
rc_stop() {
	${daemon} ${daemon_flags} stop
}
rc_reload() {
	${daemon} ${daemon_flags} reload
}

rc_cmd $1
