#!/bin/sh
#
# $OpenBSD: mysqld.rc,v 1.12 2011/03/08 10:46:31 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/mysqld_safe"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/libexec/mysqld"
rc_bg=YES
rc_reload=NO

rc_cmd $1
