#!/bin/sh
#
# $OpenBSD: mysqld.rc,v 1.8 2010/12/24 10:40:05 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/bin/mysqld_safe"

rc_conf

rc_reload=NO

rc_check() {
	${TRUEPREFIX}/bin/mysqladmin -s ping >/dev/null
}

rc_start() {
	su -l -c ${daemon_class} -s ${daemon_shell} ${daemon_user} \
		-c "${daemon} ${daemon_flags}" >/dev/null 2>&1 &
}

rc_stop() {
	${TRUEPREFIX}/bin/mysqladmin -s shutdown
	if [ $? -gt 0 ]; then
		pkill -f "^/bin/sh ${daemon}"
		pkill -U _mysql -f "^${TRUEPREFIX}/libexec/mysqld"
	fi
}

rc_cmd $1
