#!/bin/sh
#
# $OpenBSD: mysqld.rc,v 1.2 2010/11/09 08:58:06 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon=${TRUEPREFIX}/bin/mysqld_safe

rc_check() {
	${TRUEPREFIX}/bin/mysqladmin -s ping >/dev/null
}

rc_reload() {
	rc_err "$0: reload is not supported."
}

rc_start() {
	${daemon} ${daemon_flags} >/dev/null 2>&1 &
}

rc_stop() {
	${TRUEPREFIX}/bin/mysqladmin -s shutdown
	if [ $? -gt 0 ]; then
		pkill -f "^/bin/sh ${daemon}"
		pkill -U _mysql -f "^${TRUEPREFIX}libexec/mysqld"
	fi
}

rc_cmd $1
