#!/bin/sh
#
# $OpenBSD: asterisk.rc,v 1.4 2015/09/21 14:10:21 sthen Exp $

daemon="${TRUEPREFIX}/sbin/asterisk"

. /etc/rc.d/rc.subr

pexp="${daemon}.*"

rc_start() {
	${rcexec} "${TRUEPREFIX}/sbin/safe_asterisk"
}

rc_stop() {
	${daemon} -rx "core stop now"
}

rc_cmd $1
