#!/bin/ksh

daemon="${TRUEPREFIX}/bin/h2o -m worker"

. /etc/rc.d/rc.subr

# changing to "-m daemon" ought to allow it to run as a normal daemon,
# but http requests hang in that case
rc_bg=YES
rc_reload=NO

rc_cmd $1
