global
	log 127.0.0.1 local0 debug
	maxconn	1024
	chroot /var/haproxy
	user _haproxy
	group _haproxy
	daemon
	pidfile /var/run/haproxy.pid

defaults
	log global
	mode http
	option httplog
	option dontlognull
	option redispatch
	retries 3
	maxconn 2000

#crt-store main
#	crt-base /etc/ssl/
#	key-base /etc/ssl/private/
#	load crt "example.com.fullchain.pem" key "example.com.key" alias "example.com"

frontend haproxy
	bind ipv4@:80,ipv6@:80
	#bind ipv4@:443,ipv6@:443 ssl
	#ssl-f-use crt "@main/example.com"
	default_backend httpd

backend httpd
	option forwardfor
	server www 127.0.0.1:8080 check
