#!/bin/sh
#
# $OpenBSD: sshguard.rc,v 1.3 2017/05/27 19:57:07 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/sshguard"
daemon_flags="-l /var/log/authlog"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
