#!/bin/ksh
#
# $OpenBSD: php73_fpm.rc,v 1.1 2019/03/08 02:13:05 sthen Exp $

daemon="${TRUEPREFIX}/sbin/php-fpm-${PV}"

. /etc/rc.d/rc.subr

pexp="php-fpm-${PV}: master process .*"
rc_reload=NO

rc_cmd $1
