#!/bin/sh
#
# $OpenBSD: godoc.rc,v 1.2 2017/05/27 13:53:06 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/godoc"
daemon_flags="-http=localhost:6060 -v=true"
daemon_user=www

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1
