#!/bin/sh
#
# $OpenBSD: cherokee.rc,v 1.6 2015/07/15 23:29:57 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/cherokee -d"

. /etc/rc.d/rc.subr

# extra space injected in the process list
pexp="${TRUEPREFIX}/sbin/cherokee ${daemon_flags:+ ${daemon_flags}}"

rc_cmd $1
