#!/bin/sh
#
# $OpenBSD: httpd.rc,v 1.1.1.1 2014/03/13 17:28:04 sthen Exp $

daemon="${TRUEPREFIX}/sbin/httpd"

. /etc/rc.d/rc.subr

pexp="httpd: parent.*"

rc_pre() {
	rm -f /var/www/logs/{ssl_mutex,httpd.lock,accept.lock}.*
}

rc_cmd $1
