#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/kamailio"

. /etc/rc.d/rc.subr

pexp="${daemon}.*"

rc_pre() {
	install -d -o _kamailio /var/run/kamailio
}

rc_start() {
	rc_exec "${TRUEPREFIX}/sbin/kamctl start"
}

rc_stop() {
	${TRUEPREFIX}/sbin/kamctl stop
}

rc_reload=NO

rc_cmd $1
