#!/bin/sh
#
# $OpenBSD: cyrus_imapd.rc,v 1.11 2017/05/28 15:46:12 ajacoutot Exp $

daemon="${TRUEPREFIX}/cyrus/libexec/master -d"

. /etc/rc.d/rc.subr

rc_pre() {
	rm -f /var/run/cyrus-master.pid
}

rc_cmd $1
