#!/bin/sh
#
# $OpenBSD: cyrus_imapd.rc,v 1.6 2010/12/24 10:40:06 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/libexec/cyrus-imapd/master"
daemon_flags="-d"

rc_conf

# chdir needed when using the BerkeleyDB backend to prevent:
# DBERROR db4: no absolute path for the current directory: No such file or directory
rc_pre() {
	rm -f /var/run/cyrus-master.pid
	cd /var/imap
}

rc_cmd $1
