#!/bin/sh
#
# $OpenBSD: cyrus_imapd.rc,v 1.2 2010/10/29 12:54:44 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/libexec/cyrus-imapd/master"
daemon_flags="-d"

rc_post() {
	rm /var/run/cyrus-master.pid
}

rc_cmd $1
