#!/bin/sh
#
# $OpenBSD: knot.rc,v 1.2 2015/04/12 16:26:10 jca Exp $

daemon="${PREFIX}/sbin/knotd -d"
knotc="${PREFIX}/sbin/knotc"

. /etc/rc.d/rc.subr

rc_start() {
	install -d -o _knot -g wheel -m 750 ${LOCALSTATEDIR}/run/knot/
	${knotc} checkconf || return 1
	${daemon} ${daemon_flags}
}

rc_check() {
	${knotc} status || return 1
}

rc_reload() {
	${knotc} reload || return 1
}

rc_stop() {
	${knotc} stop || return 1
}

rc_cmd $1
