#!/bin/sh
#
# $OpenBSD: mon.rc,v 1.4 2010/12/24 10:40:05 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/bin/mon"
daemon_flags="-c ${SYSCONFDIR}/mon/mon.cf -f -P /var/run/mon/mon.pid"
daemon_user="_mon"

rc_conf

pexp="/usr/bin/perl ${daemon}${daemon_flags}"
rc_reload=NO

rc_pre() {
	/usr/bin/install -d -o _mon /var/run/mon 
}

rc_cmd $1
