Disable CONFIG_USE_PREBOOT / usb start to fix boot.

Index: configs/rock960-rk3399_defconfig
--- configs/rock960-rk3399_defconfig.orig
+++ configs/rock960-rk3399_defconfig
@@ -8,7 +8,7 @@ CONFIG_TARGET_ROCK960_RK3399=y
 CONFIG_DEBUG_UART_BASE=0xFF1A0000
 CONFIG_DEBUG_UART_CLOCK=24000000
 CONFIG_DEBUG_UART=y
-CONFIG_USE_PREBOOT=y
+# CONFIG_USE_PREBOOT is not set
 CONFIG_DEFAULT_FDT_FILE="rockchip/rk3399-rock960.dtb"
 CONFIG_DISPLAY_BOARDINFO_LATE=y
 CONFIG_MISC_INIT_R=y
@@ -51,7 +51,7 @@ CONFIG_PWM_ROCKCHIP=y
 CONFIG_DM_RESET=y
 CONFIG_DM_RNG=y
 CONFIG_RNG_ROCKCHIP=y
-CONFIG_BAUDRATE=1500000
+CONFIG_BAUDRATE=115200
 CONFIG_DEBUG_UART_SHIFT=2
 CONFIG_SYSRESET=y
 CONFIG_USB=y
