$OpenBSD: patch-configs_firefly-rk3399_defconfig,v 1.3 2019/09/28 01:40:24 jsg Exp $

Index: configs/firefly-rk3399_defconfig
--- configs/firefly-rk3399_defconfig.orig
+++ configs/firefly-rk3399_defconfig
@@ -40,7 +40,7 @@ CONFIG_PMIC_RK8XX=y
 CONFIG_REGULATOR_PWM=y
 CONFIG_REGULATOR_RK8XX=y
 CONFIG_PWM_ROCKCHIP=y
-CONFIG_BAUDRATE=1500000
+CONFIG_BAUDRATE=115200
 CONFIG_DEBUG_UART_SHIFT=2
 CONFIG_SYSRESET=y
 CONFIG_USB=y
