$OpenBSD: patch-configs_rpi_3_defconfig,v 1.2 2017/08/19 04:40:40 jsg Exp $

revert 25877d4e4c45451c5398aec3de50e0d5befe0e9f

Index: configs/rpi_3_defconfig
--- configs/rpi_3_defconfig.orig
+++ configs/rpi_3_defconfig
@@ -14,6 +14,7 @@ CONFIG_SYS_PROMPT="U-Boot> "
 # CONFIG_CMD_FLASH is not set
 # CONFIG_CMD_FPGA is not set
 CONFIG_CMD_GPIO=y
+CONFIG_OF_EMBED=y
 CONFIG_CMD_MMC=y
 CONFIG_CMD_USB=y
 CONFIG_DM_MMC=y
