[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=PyCharm Light Edit
GenericName=PyCharm Light Edit
Comment=PyCharm Integrated Development Environment - Light Mode
Icon=${TRUEPREFIX}/pycharm/bin/pycharm.png
Exec=${TRUEPREFIX}/bin/pycharm-lightedit
Terminal=false
StartupNotify=true
Categories=Application;Development;
