#!/bin/ksh
#
# $OpenBSD: memcached.rc,v 1.5 2018/02/26 19:49:02 sthen Exp $

daemon="${TRUEPREFIX}/bin/memcached -d"
daemon_flags="-u _memcached -l 127.0.0.1"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
	/usr/bin/install -d -o _memcached -g _memcached -m 0750 /var/run/memcached
}

rc_cmd $1
