#!/bin/ksh
#
# $OpenBSD: serf.rc,v 1.5 2021/11/06 10:38:41 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/serf agent"
daemon_flags="-syslog"
daemon_user="_serf"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_stop_signal=INT

rc_cmd $1
