#!/bin/ksh
#
# $OpenBSD: filebeat.rc,v 1.6 2020/04/04 02:52:58 pvk Exp $

daemon="${PREFIX}/bin/filebeat"
daemon_flags="-path.config ${SYSCONFDIR}/filebeat \
	-path.data ${LOCALSTATEDIR}/db/filebeat \
	-path.logs ${LOCALSTATEDIR}/log/filebeat"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
