[Desktop Entry]
GenericName=Macintosh Emulator
Name=Mini vMac (II)
Comment=Early Macintosh emulator
Exec=minivmac-ii
Terminal=false
Type=Application
Categories=Emulator;Graphics;
Icon=/usr/local/share/pixmaps/minivmac-ii.ico
