#!/bin/ksh
#
# $OpenBSD: riak.rc,v 1.3 2018/01/11 19:27:02 rpe Exp $

daemon="${TRUEPREFIX}/sbin/riak"
daemon_user="_riak"

. /etc/rc.d/rc.subr

rc_reload=NO
rc_usercheck=NO

rc_check() {
	${rcexec} "${daemon} ping"
}

rc_start() {
	${rcexec} "${daemon} start"
}

rc_stop() {
	${rcexec} "${daemon} stop"
}

rc_cmd $1
