#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/riak"
daemon_user="_riak"

. /etc/rc.d/rc.subr

rc_reload=NO
rc_usercheck=NO

rc_check() {
	rc_exec "${daemon} ping"
}

rc_start() {
	rc_exec "${daemon} start"
}

rc_stop() {
	rc_exec "${daemon} stop"
}

rc_cmd $1
