[Desktop Entry]
Encoding=UTF-8
Name=Minecraft
Exec=${TRUEPREFIX}/bin/minecraft
Icon=minecraft.svg
Terminal=false
Type=Application
Categories=Application;Game;
StartupNotify=true
