#!/bin/ksh
#
# $OpenBSD: sabnzbd.rc,v 1.3 2018/01/11 19:27:08 rpe Exp $

datadir="/var/sabnzbd"

daemon="${MODPY_BIN} ${TRUEPREFIX}/lib/python${MODPY_VERSION}/site-packages/sabnzbd/SABnzbd.py -d"
daemon_flags="-b 0 -f ${datadir} -p ${datadir}/sabnzbd.pid"
daemon_user="_sabnzbd"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1
