#!/bin/sh
#
# $OpenBSD: yaws.rc,v 1.3 2011/01/05 16:05:54 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/yaws"
daemon_flags="--daemon --conf ${SYSCONFDIR}/yaws/yaws.conf"

. /etc/rc.d/rc.subr

pexp="${LOCALBASE}/lib/erlang/erts.*${TRUEPREFIX}/lib/yaws/ebin -run yaws"

rc_stop() {
	${rcexec} "${daemon} --stop" >/dev/null
}

rc_reload() {
	${rcexec} "${daemon} --hup" >/dev/null
}

rc_cmd $1
