#!/bin/sh
#
# $OpenBSD: yaws.rc,v 1.4 2011/03/09 18:51:49 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/yaws"
daemon_flags="--daemon --conf ${SYSCONFDIR}/yaws/yaws.conf"

. /etc/rc.d/rc.subr

pexp="${LOCALBASE}/lib/erlang/erts.*${TRUEPREFIX}/lib/yaws/ebin -run yaws"

rc_reload() {
	${rcexec} "${daemon} --hup" >/dev/null
}

rc_stop() {
	${rcexec} "${daemon} --stop"
}

rc_cmd $1
