#!/bin/sh
#
# $OpenBSD: rrdcached.rc,v 1.2 2014/04/26 20:57:59 sthen Exp $

daemon="${TRUEPREFIX}/bin/rrdcached"
daemon_flags="-b /var/db/rrd -m 770 -l unix:/var/run/rrd/rrdcached.sock -j /var/db/rrd/journal -p /var/run/rrd/rrdcached.pid"
daemon_user="_rrdcached"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
	install -d -o _rrdcached -g _rrdcached -m 750 /var/run/rrd
}

rc_cmd $1
