#!/bin/ksh
#
# $OpenBSD: mattermost.rc,v 1.2 2018/04/23 16:51:16 robert Exp $

daemon="${TRUEPREFIX}/sbin/mattermost-server"
daemon_user="_mattermost"
daemon_flags="--config=${SYSCONFDIR}/mattermost/default.json"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_start() {
	${rcexec} "cd ${TRUEPREFIX}/share/mattermost && \
		${daemon} ${daemon_flags}"
}

rc_cmd $1
