#!/bin/sh
#
# $OpenBSD: mysqld.rc,v 1.1.1.1 2013/04/04 18:58:52 brad Exp $

daemon="${TRUEPREFIX}/bin/mysqld_safe"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/libexec/mysqld"
rc_bg=YES
rc_reload=NO

rc_cmd $1
