#!/bin/sh
#
# $OpenBSD: mysqld.rc,v 1.4 2017/05/27 19:57:06 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/mysqld_safe"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/libexec/mysqld .*"
rc_bg=YES
rc_reload=NO

rc_cmd $1
