#!/bin/sh
: ${PREFIX:=${TRUEPREFIX}}
IPATH="${IPATH-} $PREFIX/share/ipl/ucode"
LPATH="${LPATH-} $PREFIX/share/ipl/ginclude $PREFIX/share/ipl/include"
export IPATH LPATH
exec $PREFIX/lib/icon/icont "$@"
