#!/bin/ksh
#
# $OpenBSD: wwbackuppc.rc,v 1.3 2018/01/11 19:27:09 rpe Exp $

daemon="${LOCALBASE}/bin/spawn-fcgi"
daemon_flags="-u_backuppc -g_backuppc -p1028 ${TRUEPREFIX}/bin/BackupPC_Admin.fcgi"

. /etc/rc.d/rc.subr

pexp="/usr/bin/perl ${TRUEPREFIX}/bin/BackupPC_Admin.fcgi"
rc_reload=NO

rc_cmd $1
