#!/bin/sh
#
# $OpenBSD: ntpd.rc,v 1.1 2010/11/10 21:21:26 jasper Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/ntpd"

rc_reload() {                                                                                                                                                                                                                                                                      
	rc_err "$0: reload is not supported"                                                                                                                                                                                                                                        
}

rc_cmd $1
