#!/bin/sh
#
# $OpenBSD: metricbeat.rc,v 1.2 2017/05/27 13:53:07 ajacoutot Exp $

daemon="${PREFIX}/bin/metricbeat"
daemon_flags="-path.config ${SYSCONFDIR}/metricbeat/"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1
