#!/bin/ksh
#
# $OpenBSD: metricbeat.rc,v 1.5 2020/04/04 02:57:57 pvk Exp $

daemon="${PREFIX}/bin/metricbeat"
daemon_flags="-path.config ${SYSCONFDIR}/metricbeat \
	-path.data ${LOCALSTATEDIR}/db/metricbeat \
	-path.logs ${LOCALSTATEDIR}/log/metricbeat"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
