#!/bin/ksh
#
# $OpenBSD: gnugk.rc,v 1.6 2018/01/11 19:27:05 rpe Exp $

daemon="${TRUEPREFIX}/bin/gnugk"
daemon_flags="-t -c ${SYSCONFDIR}/gatekeeper.ini -u _gnugk -o /var/log/gnugk/gnugk.log"

. /etc/rc.d/rc.subr

rc_bg=YES

rc_cmd $1
