; $OpenBSD: cdr.conf.sample,v 1.1.1.1 2021/10/16 10:55:00 sthen Exp $
; Longer example available in ${TRUEPREFIX}/share/examples/asterisk/default

[general]
enable=yes
unanswered=yes

[csv]
usegmtime=yes    ; log date/time in GMT.  Default is "no"
loguniqueid=yes  ; log uniqueid.  Default is "no"
loguserfield=yes ; log user field.  Default is "no"
accountlogs=yes  ; create separate log file for each account code. Default is "yes"
