; $OpenBSD: sip.conf.sample,v 1.1.1.1 2021/10/16 10:55:00 sthen Exp $
; Longer example available in ${TRUEPREFIX}/share/examples/asterisk/default

[general]
disallow=all
allow=ulaw

; If Asterisk server is behind nat with port-forwarding for some
; external clients, set the external address and local network and
; perhaps restrict the port range (see rtpstart/rtpend in rtp.conf).
;externip=11.22.33.44
;localnet=192.168.0.0/255.255.0.0

; Defaults for these include the Asterisk version number, which you
; might not want to expose.
useragent=Asterisk PBX
sdpsession=Asterisk PBX

; Phone #1
[100]
type=friend
; N.B. People can and do make very high-speed password scans of hosts
; responding to SIP; if you cannot restrict access by source IP address,
; be sure to use strong secrets and ideally also non-standard extension
; numbers if your users can live with them.
secret=DDmKucsYo7V4Sb_change_me
nat=yes
host=dynamic
directmedia=no
qualify=yes
mailbox=100
context=default

; Phone #2
[101]
type=friend
secret=96Odmh3decU1_change_me
nat=yes
host=dynamic
directmedia=no
qualify=yes
mailbox=100
context=default
