#!/bin/sh
#
# $OpenBSD: gdm.rc,v 1.12 2011/05/01 16:23:18 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/gdm"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/sbin/gdm-binary"
rc_reload=NO

rc_check() {
	pkill -0 -u _x11 -f "^${X11BASE}/bin/X.*vt5.*gdm.*"
}

rc_start() {
	(sleep 5; ${rcexec} "${daemon} ${daemon_flags}")&
}

rc_cmd $1
