#!/bin/sh
#
# $OpenBSD: gdm.rc,v 1.27 2014/01/29 14:00:46 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/gdm"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

# on boot: wait for ttys to be initialized
if [ -n "${INRC}" ]; then
unset rc_bg
rc_start() {
	( local i=0
	while [ $i -le 10 ]; do
		pgrep -qf "^/usr/libexec/getty " && break
		sleep 1
		i=$((i+1))
	done
	[[ $i -gt 10 ]] && return 1
	${rcexec} "${daemon} ${daemon_flags}" ) &
}
fi

rc_stop() {
	pkill -f "^${pexp}"
	# _gdm owned processed may already be gone... or not
	pkill -u _gdm || return 0
}

# /etc/X11/xdm/TakeConsole, fbtab(5)
rc_post() {
	if [ -c /dev/drm0 ]; then
		chown root /dev/drm0
	fi
}

rc_cmd $1
