#!/bin/sh
#
# $OpenBSD: puppet_dashboard.rc,v 1.3 2014/09/21 16:29:56 sebastia Exp $

daemon="./script/server -d"
daemon_flags="-e production"
daemon_user="_puppet-dashboard"

. /etc/rc.d/rc.subr

pexp="${RUBY} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_start() {
	${rcexec} "cd ${INSTDIR} && env LD_PRELOAD=libpthread.so ${daemon} ${daemon_flags}"
}

rc_stop() {
	pkill -INT -f "^${pexp}"
}

rc_cmd $1
