#!/bin/ksh
#
# $OpenBSD: prometheus.rc,v 1.2 2020/11/20 21:17:21 sthen Exp $

daemon="${TRUEPREFIX}/bin/prometheus"
daemon_flags="--config.file ${SYSCONFDIR}/prometheus/prometheus.yml"
daemon_flags="${daemon_flags} --storage.tsdb.path '${LOCALSTATEDIR}/prometheus'"
daemon_user=_prometheus

. /etc/rc.d/rc.subr

pexp="${daemon}.*"
rc_bg=YES
rc_reload=NO

rc_start() {
	${rcexec} "${daemon} ${daemon_flags} < /dev/null 2>&1 | \
		logger -p daemon.info -t prometheus"
}

rc_cmd $1
