#!/bin/sh
#
# $OpenBSD: zarafa_search.rc,v 1.2 2015/04/05 22:25:08 robert Exp $

daemon="${TRUEPREFIX}/bin/zarafa-search"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
	install -d -o _zabbix -g _zabbix /var/run/zabbix
}

rc_cmd $1
