#!/bin/sh
#
# $OpenBSD: zarafa_spooler.rc,v 1.5 2011/06/27 06:23:39 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/zarafa-spooler"

. /etc/rc.d/rc.subr

# XXX hangs forever (threads?)
rc_stop() {
	pkill -f "^${pexp}"
	sleep 1
	pkill -9 -f "^${pexp}"
}

rc_cmd $1
