#!/bin/sh
#
# $OpenBSD: zarafa_gateway.rc,v 1.6 2016/04/01 18:08:10 robert Exp $

daemon="${TRUEPREFIX}/sbin/zarafa-gateway"

. /etc/rc.d/rc.subr

rc_pre() {
	install -d -o _zarafa -g _zarafa /var/run/zarafad
}

rc_cmd $1
