#!/bin/sh
#
# $OpenBSD: zarafa.rc,v 1.4 2010/11/17 14:00:04 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="/bin/true"
_zarafa_daemons="server spooler monitor gateway ical"

rc_start() {
	for i in ${_zarafa_daemons}; do /etc/rc.d/zarafa_$i start; done
}

rc_check() {
	for i in ${_zarafa_daemons}; do /etc/rc.d/zarafa_$i check || return; done
}

rc_reload() {
	for i in ${_zarafa_daemons}; do /etc/rc.d/zarafa_$i reload; done
}

rc_stop() {
	set -A _z -- ${_zarafa_daemons}
	_z="${_z[4]} ${_z[3]} ${_z[2]} ${_z[1]} ${_z[0]}"
	for i in ${_z}; do
		/etc/rc.d/zarafa_$i stop
		while /etc/rc.d/zarafa_$i check; do sleep 1; done
	done
}

rc_cmd $1
