#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/ocserv"
daemon_flags="-c ${SYSCONFDIR}/ocserv/ocserv.conf"

. /etc/rc.d/rc.subr

pexp="ocserv: ocserv-main"

rc_pre() {
	/usr/bin/install -d -o _ocserv /var/run/ocserv
}

rc_cmd $1
