#!/bin/ksh
#
# $OpenBSD: exim.rc,v 1.4 2018/01/11 19:27:03 rpe Exp $

daemon="${TRUEPREFIX}/bin/exim -bd"
daemon_flags="-q30m"

. /etc/rc.d/rc.subr

rc_pre() {
	[ ! -f /etc/mailer.conf.exim ]
}

rc_cmd $1
