#!/bin/ksh
#
# $OpenBSD: snort.rc,v 1.3 2018/01/11 19:27:08 rpe Exp $

daemon="${TRUEPREFIX}/bin/snort -D"
daemon_flags="-c ${SYSCONFDIR}/snort/snort.conf -u _snort -g _snort -t ${LOCALSTATEDIR}/snort -l ${LOCALSTATEDIR}/snort/log"

. /etc/rc.d/rc.subr

rc_cmd $1
