#!/bin/ksh
#
# $OpenBSD: yubiserve.rc,v 1.5 2018/01/11 19:27:09 rpe Exp $

daemon="${TRUEPREFIX}/sbin/yubiserve"
daemon_user="_yubiserve"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_bg=YES
rc_reload=NO

rc_cmd $1
