#!/bin/ksh
#
# $OpenBSD: influxdb.rc,v 1.4 2020/04/29 11:36:54 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/influxd"
daemon_user="_influx"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_start() {
	${rcexec} "${daemon} ${daemon_flags} 2>&1 |
		logger -p daemon.info -t influxdb"
}

rc_cmd $1
