[Desktop Entry]
Encoding=UTF-8
Name=Last.fm
Comment=Official Last.fm radio player
Exec=${TRUEPREFIX}/bin/last.fm
Icon=${TRUEPREFIX}/share/last.fm/icons/as.png
Type=Application
Terminal=false
StartupNotify=false
Categories=Qt;Application;AudioVideo;Player;
