#!/bin/sh
#
# $OpenBSD: courier_authdaemond.rc,v 1.3 2010/12/27 14:50:23 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/authdaemond"

. /etc/rc.d/rc.subr

pexp=".*courierlogger.*-start ${TRUEPREFIX}/libexec/courier-authlib/authdaemond"

rc_start() {
	mkdir -p /var/run/courier{,-auth}/
	${daemon} start 2>/dev/null
}

rc_stop() {
	${daemon} stop 2>/dev/null
}

rc_cmd $1
