#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/burp"
daemon_flags="-c ${SYSCONFDIR}/burp-server.conf"

. /etc/rc.d/rc.subr

rc_pre() {
	chown _burp ${SYSCONFDIR}/ssl_cert_ca.pem
	install -d -o _burp -g _burp ${LOCALSTATEDIR}/run/burp
}

rc_cmd $1
