#!/bin/sh
#
# $OpenBSD: mimedefang_multiplexor.rc,v 1.10 2013/03/28 14:27:19 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/mimedefang-multiplexor"
daemon_flags="-G -U _mdefang -E -l -m 2 -q 10 -x 10 -b 600 -p /var/spool/MIMEDefang/mimedefang-multiplexor.pid"

. /etc/rc.d/rc.subr

rc_reload() {
	${TRUEPREFIX}/bin/md-mx-ctrl reread
}

rc_cmd $1
