#!/bin/sh
#
# $OpenBSD: mimedefang_daemon.rc,v 1.2 2010/12/09 01:44:15 okan Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/bin/mimedefang"
daemon_flags="-U _mdefang -p /var/run/mdefang/mimedefang.socket -m /var/run/mdefang/multiplexor.socket"

rc_pre() {
	install -d -o _mdefang -g _mdefang /var/run/mdefang
}

rc_reload() {
	rc_err "$0: reload is not supported"
}

rc_cmd $1
