#!/bin/sh
#
# $OpenBSD: mimedefang.rc,v 1.2 2013/03/28 14:27:19 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/mimedefang"
daemon_flags="-Gqr -U _mdefang -P /var/spool/MIMEDefang/mimedefang.pid -p /var/spool/MIMEDefang/mimedefang.sock -m /var/spool/MIMEDefang/mimedefang-multiplexor.sock"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_cmd $1
