#!/bin/sh
#
# $OpenBSD: mimedefang_multiplexor.rc,v 1.7 2012/09/18 15:34:39 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/mimedefang-multiplexor"
daemon_flags="-G -U _mdefang -E -l -m 2 -b 600 -p /var/spool/MIMEDefang/mimedefang-multiplexor.pid"

. /etc/rc.d/rc.subr

rc_reload() {
	pkill -INT -f "^${pexp}"
}

rc_cmd $1
