#!/bin/sh
#
# $OpenBSD: rabbitmq.rc,v 1.3 2011/07/08 04:31:57 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/rabbitmq-server"
daemon_flags="-detached"
daemon_user="_rabbitmq"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
	install -d -o ${daemon_user} /var/run/rabbitmq
}

rc_check() {
	# return 1 is needed: rabbitmqctl returns a higher error code on failure
	${TRUEPREFIX}/sbin/rabbitmqctl status || return 1
}

rc_stop() {
	${TRUEPREFIX}/sbin/rabbitmqctl stop
}

rc_cmd $1
