#!/bin/ksh

daemon="${TRUEPREFIX}/bin/rabbitmq-server -detached"
daemon_user="_rabbitmq"

. /etc/rc.d/rc.subr

rc_reload=NO
rc_usercheck=NO

rc_pre() {
	install -d -o ${daemon_user} /var/run/rabbitmq
}

rc_check() {
	# return 1 is needed: rabbitmqctl returns a higher error code on failure
	$rcexec ${TRUEPREFIX}/bin/rabbitmqctl status || return 1
}

rc_stop() {
	${TRUEPREFIX}/bin/rabbitmqctl stop
}

rc_cmd $1
