#!/bin/ksh
#
# $OpenBSD: minidlna.rc,v 1.4 2019/03/20 11:47:46 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/minidlnad"
daemon_user="_minidlna"

. /etc/rc.d/rc.subr

rc_reload=NO

rc_pre() {
	install -d -o ${daemon_user} /var/run/minidlna
}

rc_cmd $1
