#!/bin/ksh
#
# $OpenBSD: puppet.rc,v 1.4 2021/03/16 18:43:40 kn Exp $

daemon="${TRUEPREFIX}/bin/puppet agent"

. /etc/rc.d/rc.subr

pexp="${RUBY} -W0 ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_cmd $1
