#!/bin/ksh
#
# $OpenBSD: puppet.rc,v 1.3 2018/01/11 19:27:10 rpe Exp $

daemon="${TRUEPREFIX}/bin/puppet agent"

. /etc/rc.d/rc.subr

pexp="${RUBY} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_cmd $1
