#!/bin/ksh
#
# $OpenBSD: telegraf.rc,v 1.2 2019/06/05 14:27:02 landry Exp $

daemon="${TRUEPREFIX}/bin/telegraf"
daemon_user="_telegraf"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_start() {
	${rcexec} "${daemon} ${daemon_flags} 2>&1 | \
	logger -p daemon.info -t telegraf"
}

rc_cmd $1
