#!/bin/ksh
#
# $OpenBSD: mediatomb.rc,v 1.2 2018/01/11 19:27:04 rpe Exp $

daemon="${TRUEPREFIX}/bin/mediatomb -d"
daemon_flags="-c ${SYSCONFDIR}/mediatomb/config.xml -u _mediatomb -g _mediatomb -l /var/log/mediatomb"

. /etc/rc.d/rc.subr

rc_cmd $1
