#!/bin/sh
#
# $OpenBSD: inadyn.rc,v 1.1.1.1 2011/07/21 12:17:02 pea Exp $

daemon="${TRUEPREFIX}/sbin/inadyn"
daemon_flags="-F ${SYSCONFDIR}/inadyn.conf -b -s -d _inadyn:_inadyn"

. /etc/rc.d/rc.subr

rc_pre() {
	/usr/bin/install -d -o _inadyn /var/run/inadyn
}

rc_cmd $1
