#!/bin/sh
#
# $OpenBSD: orthanc.rc,v 1.2 2017/08/09 15:23:07 jasper Exp $

daemon="${PREFIX}/sbin/Orthanc"
daemon_flags="--logdir=/var/log/orthanc ${SYSCONFDIR}/orthanc/"
daemon_user="_orthanc"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_cmd $1
