#!/bin/sh
#
# $OpenBSD: milter_regex.rc,v 1.1 2010/12/09 01:46:05 okan Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/libexec/milter-regex"

rc_reload() {
	rc_err "$0: reload is not supported"
}

rc_cmd $1
