#!/bin/sh
#
# $OpenBSD: xl2tpd.rc,v 1.1.1.1 2013/01/15 23:02:19 sthen Exp $

daemon="${TRUEPREFIX}/sbin/xl2tpd"
daemon_user="_xl2tpd"

. /etc/rc.d/rc.subr

rc_pre() {
	/usr/bin/install -d -o ${daemon_user} /var/run/xl2tpd
	mkfifo /var/run/xl2tpd/l2tp-control
}

rc_cmd $1
