#!/bin/ksh

daemon="${TRUEPREFIX}/bin/apertium-apy"
daemon_flags="${LOCALBASE}/share/apertium"
daemon_user="_apertium-apy"

. /etc/rc.d/rc.subr

pexp="${LOCALBASE}/bin/python.* ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_bg=YES
rc_reload=NO

rc_cmd $1
