#!/bin/sh
#
# $OpenBSD: unifi.rc,v 1.1.1.1 2014/04/18 21:49:44 sthen Exp $

daemon="${TRUEPREFIX}/share/unifi/lib/ace.jar"
daemon_user="_unifi"

. /etc/rc.d/rc.subr

java="$(${LOCALBASE}/bin/javaPathHelper -c unifi)"
pexp="${java} -jar ${daemon} start"

rc_bg=YES
rc_reload=NO

rc_start() {
	${rcexec} "${java} -jar ${daemon} start" &
}

rc_stop() {
	${rcexec} "${java} -jar ${daemon} stop"
}

rc_cmd $1
