#!/bin/ksh
#
# $OpenBSD: ioq3ded.rc,v 1.6 2018/01/11 19:27:02 rpe Exp $

daemon="${TRUEPREFIX}/bin/ioq3ded"
daemon_user="_ioq3"
daemon_flags="+map q3dm17"

. /etc/rc.d/rc.subr

pexp="${daemon}.*"
rc_bg=YES
rc_reload=NO

rc_cmd $1
