#!/bin/ksh
#
# $OpenBSD: asterisk.rc,v 1.1.1.1 2021/10/16 10:55:00 sthen Exp $

daemon="${TRUEPREFIX}/sbin/asterisk"

. /etc/rc.d/rc.subr

pexp="${daemon}.*"

rc_start() {
	${rcexec} "${TRUEPREFIX}/sbin/safe_asterisk"
}

rc_stop() {
	${daemon} -rx "core stop now"
}

rc_cmd $1
