#!/bin/ksh

daemon="${TRUEPREFIX}/bin/stalwart-imap"
daemon_logger="daemon.info"
daemon_user="_stalwart-imap"
daemon_flags="--config ${SYSCONFDIR}/stalwart/imap/config.yml"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
