#!/bin/ksh

daemon="sh -c '. ${SYSCONFDIR}/anubis.env; ${TRUEPREFIX}/sbin/anubis'"
daemon_user="www"
daemon_logger=daemon.info

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/sbin/anubis${daemon_flags:+ ${daemon_flags}}"

rc_bg=YES
rc_reload=NO

rc_cmd $1
