#!/bin/sh
#
# $OpenBSD: mailman.rc,v 1.4 2010/12/11 12:57:37 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/lib/mailman/bin/mailmanctl"
daemon_flags="-s -q"
rc_reload=NO

rc_start() {
	su -c ${daemon_class:-daemon} -s ${daemon_shell:-/bin/sh} \
		${daemon_user:-root} -c "${daemon} ${daemon_flags} start"
}

rc_stop() {
	${daemon} ${daemon_flags} stop
}

rc_cmd $1
