#!/bin/ksh

daemon="${TRUEPREFIX}/lib/mailman/bin/mailmanctl"
daemon_flags="-s start"

. /etc/rc.d/rc.subr

pexp="${MODPY_BIN} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_stop() {
	${daemon} stop
}

rc_cmd $1
