#!/bin/sh

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/avahi-dnsconfd"
daemon_flags="-D"

rc_check() {
	${daemon} --check
}

rc_reload() {
	${daemon} --refresh
}

rc_stop() {
	${daemon} --kill
}

rc_cmd $1
