#!/bin/sh
#
# $OpenBSD: avahi_dnsconfd.rc,v 1.4 2010/12/24 10:40:05 ajacoutot Exp $

. /etc/rc.d/rc.subr

daemon="${TRUEPREFIX}/sbin/avahi-dnsconfd"
daemon_flags="-D"

rc_conf

rc_check() {
	${daemon} --check
}

rc_reload() {
	${daemon} --refresh 2> /dev/null
}

rc_stop() {
	${daemon} --kill 2> /dev/null
}

rc_cmd $1
