#!/bin/ksh
#
# $OpenBSD: avahi_dnsconfd.rc,v 1.8 2018/01/11 19:27:04 rpe Exp $

daemon="${TRUEPREFIX}/sbin/avahi-dnsconfd -D"

. /etc/rc.d/rc.subr

rc_check() {
	${daemon} --check
}

rc_reload() {
	${daemon} --refresh
}

rc_stop() {
	${daemon} --kill
}

rc_cmd $1
