#!/bin/ksh
#
# $OpenBSD: gitdaemon.rc,v 1.4 2019/07/16 09:56:55 stsp Exp $

daemon="${TRUEPREFIX}/bin/git daemon --detach"
daemon_user="_gitdaemon"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/libexec/git/git-daemon --detach${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_cmd $1
