#!/bin/ksh

daemon="${TRUEPREFIX}/libexec/bacula/bacula-ctl-sd"
daemon_flags="start"

. /etc/rc.d/rc.subr

rc_stop() {
	${daemon} stop
}

pexp="${TRUEPREFIX}/sbin/bacula-sd .*"
rc_reload=NO

rc_cmd $1
