#!/bin/sh
#
# $OpenBSD: logstash_forwarder.rc,v 1.2 2015/05/15 07:37:14 jasper Exp $

daemon="${PREFIX}/sbin/logstash-forwarder"
daemon_flags="-config ${SYSCONFDIR}/logstash-forwarder/logstash-forwarder.conf"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
