#!/bin/sh
#
# $OpenBSD: puppetmasterd.rc,v 1.2 2013/03/13 09:56:19 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/puppet master"

. /etc/rc.d/rc.subr

pexp="${RUBY} ${daemon}${daemon_flags:+ ${daemon_flags}}"
rc_reload=NO

rc_cmd $1
