#!/bin/ksh

daemon="${TRUEPREFIX}/sbin/ejabberdctl"
daemon_user=_ejabberd

. /etc/rc.d/rc.subr

rc_start() {
	rc_exec "${daemon} ${daemon_flags} start \
		&& ${daemon} ${daemon_flags} started"
}

rc_check() {
	rc_exec "${daemon} ${daemon_flags} ping | grep -q pong"
}

rc_reload() {
	rc_exec "${daemon} ${daemon_flags} reload_config"
}

rc_stop() {
	rc_exec "${daemon} ${daemon_flags} stop \
		&& ${daemon} ${daemon_flags} stopped"
}

rc_cmd $1
