#!/bin/sh
#
# $OpenBSD: ejabberd.rc,v 1.2 2014/12/10 15:30:19 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/ejabberdctl"

. /etc/rc.d/rc.subr

rc_reload=NO
rc_usercheck=NO

rc_start() {
	${rcexec} "${daemon} ${daemon_flags} start"
}

rc_stop() {
	${daemon} ${daemon_flags} stop
}

rc_check() {
	${daemon} ${daemon_flags} status
}

rc_cmd $1
