#!/bin/sh
#
# $OpenBSD: nmbd.rc,v 1.2 2011/03/09 19:37:47 ajacoutot Exp $

daemon="/usr/local/libexec/nmbd"
daemon_flags="-D"

. /etc/rc.d/rc.subr

smbcontrol="${TRUEPREFIX}/bin/smbcontrol"

rc_check() {
	${smbcontrol} nmbd ping 2>/dev/null
}

rc_reload() {
	${smbcontrol} nmbd reload-config
}

rc_stop() {
	${smbcontrol} nmbd shutdown 2>/dev/null
}

rc_cmd $1
