#!/bin/sh
#
# $OpenBSD: nmbd.rc,v 1.7 2015/08/25 11:07:45 jca Exp $

smbcontrol="${TRUEPREFIX}/bin/smbcontrol"

daemon="${TRUEPREFIX}/sbin/nmbd -D"

. /etc/rc.d/rc.subr

rc_usercheck=NO

rc_check() {
	${smbcontrol} nmbd ping
}

rc_reload() {
	${smbcontrol} nmbd reload-config
}

rc_stop() {
	${smbcontrol} nmbd shutdown
}

rc_cmd $1
