#!/bin/ksh
#
# $OpenBSD: samba_ad_dc.rc,v 1.3 2018/01/11 19:27:08 rpe Exp $

smbcontrol="${TRUEPREFIX}/bin/smbcontrol"

daemon="${TRUEPREFIX}/sbin/samba -D"

. /etc/rc.d/rc.subr

rc_usercheck=NO

rc_check() {
	${smbcontrol} samba ping
}

rc_reload() {
	${smbcontrol} samba reload-config
}

rc_cmd $1
