#!/bin/sh
#
# $OpenBSD: smbd.rc,v 1.3 2011/03/17 16:49:27 ajacoutot Exp $

daemon="/usr/local/libexec/smbd"
daemon_flags="-D"

. /etc/rc.d/rc.subr

smbcontrol="${TRUEPREFIX}/bin/smbcontrol"

rc_check() {
	${smbcontrol} smbd ping
}

rc_reload() {
	${smbcontrol} smbd reload-config
}

rc_stop() {
	${smbcontrol} smbd shutdown
}

rc_cmd $1
