#!/bin/ksh

smbcontrol="${TRUEPREFIX}/bin/smbcontrol"

daemon="${TRUEPREFIX}/sbin/winbindd -D"

. /etc/rc.d/rc.subr

rc_usercheck=NO

rc_check() {
	${smbcontrol} winbindd ping
}

rc_reload() {
	${smbcontrol} winbindd reload-config
}

rc_stop() {
	${smbcontrol} winbindd shutdown
}

rc_cmd $1
