#!/bin/sh
#
# $OpenBSD: rt.rc,v 1.5 2017/05/27 19:57:07 ajacoutot Exp $

daemon="${TRUEPREFIX}/sbin/rt-server"

. /etc/rc.d/rc.subr

pexp="/usr/bin/perl -w ${daemon}.fcgi"
rc_bg=YES
rc_reload=NO

rc_cmd $1
