#!/bin/ksh
#
# $OpenBSD: rt.rc,v 1.7 2019/08/25 12:07:49 robert Exp $

daemon="${TRUEPREFIX}/sbin/rt-server"
daemon_user="_rt"

. /etc/rc.d/rc.subr

pexp=".*perl.*(${daemon}|perl-fcgi-pm).*"
rc_bg=YES
rc_reload=NO

rc_cmd $1
