#!/bin/ksh
#
# $OpenBSD: grafana.rc,v 1.2 2018/01/11 19:27:10 rpe Exp $

daemon="${TRUEPREFIX}/bin/grafana-server"
daemon_user="_grafana"
daemon_flags="-homepath ${TRUEPREFIX}/share/grafana -config ${SYSCONFDIR}/grafana/config.ini"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_cmd $1
