#!/bin/ksh

daemon="${TRUEPREFIX}/bin/ipfs daemon"
daemon_user="_go-ipfs"
daemon_timeout=60
daemon_logger="daemon.info"

. /etc/rc.d/rc.subr

rc_bg=YES
rc_reload=NO

rc_start() {
	rc_exec "IPFS_PATH=\"${VARBASE}/kubo\" ${daemon} ${daemon_flags}"
}

rc_cmd $1
