#!/bin/sh
#
# $OpenBSD: aox.rc,v 1.3 2011/03/17 16:49:27 ajacoutot Exp $

daemon="${TRUEPREFIX}/bin/aox"

. /etc/rc.d/rc.subr

pexp="${TRUEPREFIX}/sbin/archiveopteryx -f"
rc_reload=NO

rc_start() {
	${daemon} start
}

rc_stop() {
	${daemon} stop
}

rc_cmd $1
